{% extends "base_generic.html" %}

{% block content %}
    <div style="display: flex; flex-direction: row; align-items: center">
        <h1>Book List</h1>
            {% if user.is_staff %}
              {% if perms.catalog.add_book %}
                    <a style="height: 1.5em; margin-left: 0.5em; margin-top: 0.5em; background: rgb(121,255,73); color: black; border-radius: 10%" href="{%  url 'book-create' %}"> Create Book</a>
              {% endif %}
    {% endif %}
    </div>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
        <a style="font-size: 1.5em" href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
          {% if user.is_staff %}
              {% if perms.catalog.change_book %}
          <a style="padding: 0.2em; background: rgb(38,188,245); color: black; border-radius: 10%" href="{%  url 'book-update' book.pk %}"> Update Book</a>
              {% endif %}
           {% if perms.catalog.delete_book %}
          <a style="padding: 0.2em; background: rgb(238,66,66); color: black; border-radius: 10%" href="{%  url 'book-delete' book.pk %}"> Delete Book</a>
                {% endif %}
      {% endif %}
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}